---
import Layout from "@/layouts/Layout.astro";
import { GenerationsView } from "@/components/GenerationsView";
---

<Layout title="Generations History - 10xCards">
  <div class="container mx-auto px-4 py-8">
    <GenerationsView client:load />
  </div>
</Layout>
